<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5cd549021978ee2c2e497dca4052e140 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_5cd549021978ee2c2e497dca4052e140" ></div>
        
</body>
<script>
    
    
            var map_5cd549021978ee2c2e497dca4052e140 = L.map(
                "map_5cd549021978ee2c2e497dca4052e140",
                {
                    center: [25.856021, 15.939946],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_438fff95286084fdf18ceb99ea6e9aab = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5cd549021978ee2c2e497dca4052e140);
        
    
            var tile_layer_4988437adb23135f5c919a6b5b8e36b8 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5cd549021978ee2c2e497dca4052e140);
        
    
            var circle_a7891b2113bcf95e8b7b2d7059597717 = L.circle(
                [48.822024, 2.341509],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 3}
            ).addTo(map_5cd549021978ee2c2e497dca4052e140);
        
    
        var popup_48c917038418997ddec7bb0fa55b96c8 = L.popup({"maxWidth": 200});

        
            
                var html_46cfab28ee8ec15bc18a0dba2d4a38c0 = $(`<div id="html_46cfab28ee8ec15bc18a0dba2d4a38c0" style="width: 100.0%; height: 100.0%;"><b>Username: </b>Nawfel<br><b>Post: </b>View from Paris ! 👀<br><b>Sentiment: </b>Neutral<br><b>Timestamp: </b>2021-08-26 11:42:38</div>`)[0];
                popup_48c917038418997ddec7bb0fa55b96c8.setContent(html_46cfab28ee8ec15bc18a0dba2d4a38c0);
            
        

        circle_a7891b2113bcf95e8b7b2d7059597717.bindPopup(popup_48c917038418997ddec7bb0fa55b96c8)
        ;

        
    
    
            var circle_95997785f919610d3fc38af7f004fbce = L.circle(
                [35.469868, 139.602408],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 3}
            ).addTo(map_5cd549021978ee2c2e497dca4052e140);
        
    
        var popup_bf39ff59aba57f30c7941b36f236befd = L.popup({"maxWidth": 200});

        
            
                var html_a9a0218ebae9cc96bbcf44e536acf8bd = $(`<div id="html_a9a0218ebae9cc96bbcf44e536acf8bd" style="width: 100.0%; height: 100.0%;"><b>Username: </b>Kazuma<br><b>Post: </b>View from Japan ! <br><b>Sentiment: </b>Neutral<br><b>Timestamp: </b>2021-08-26 11:46:55</div>`)[0];
                popup_bf39ff59aba57f30c7941b36f236befd.setContent(html_a9a0218ebae9cc96bbcf44e536acf8bd);
            
        

        circle_95997785f919610d3fc38af7f004fbce.bindPopup(popup_bf39ff59aba57f30c7941b36f236befd)
        ;

        
    
</script>
</html>